body
	{
		background-image: url("./images/contact_back.jpg");
		background-attachment:center;
		background-size:cover;
	 }
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
  margin-right: 125px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }

.container {
  padding: 0 16px;
}

.container::after {
  clear: both;
  display: table;
}

.title {
  color: grey;
  font-size: 18px;
}



a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: blue;
	color: white;
	text-align: center;
  opacity: 0.6;
  }