html {
	font-family: 'Open Sans', sans-serif;
	}

	 .footer {
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		background-color: blue;
		color: white;
		text-align: center;
		opacity: 0.6;
	  }
	  h11
	  {
		  color:rgb(0, 0, 102);
		  font-size: 250%;
		  
	  }
	  h12
	  {
		  color:rgb(255, 102, 102);
		  font-size: 250%;
		  
	  }
	  h13
	  {
		  color:rgb(51, 51, 204);
		  font-size: 250%;
		  
	  }
	a:link {
    color: white;
	}
	a:visited {
    color: white;
	}
	ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
}
.active {
    background-color: #4CAF50;
}