button {
    color: white;
    height:40px;
    width:118px;
    background-color: #87CEEB;
    font-family: verdana;
    font-weight:bold;
    font-size: 100%;
    border: 0;
}
body {
	
	background-image:url("./images/recipient_reg.jpg");
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-position:right;
	background-color:#BA0015;
	background-size:40% 100%;
	font-family: 'Open Sans', sans-serif;
	}
	.footer {
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		background-color: blue;
		color: white;
		text-align: center;
		opacity: 0.6;
	  }
form {
	
	width:450;
	background-color:white;
	opacity:0.8;
	}
	h11
	{
		color:rgb(0, 0, 102);
		font-size: 250%;
		
	}
	h12
	{
		color:green;
		font-size: 250%;
		
	}
	h13
	{
		color:rgb(51, 51, 204);
		font-size: 250%;
		
	}
a {
	text-decoration:none;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}
	a:link {
    color: white;
	}
	a:visited {
    color: white;
	}
	ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: green;
}
.active {
    background-color: #4CAF50;
}
